[rl]
gamma = 0.9


[action_space]
kinematics = nonholonomic
speed_samples = 5
rotation_samples = 16
query_env = false


[reward]
adjust_dist = true
dist_slope = 1.0
dist_intercept = 0.2


[network]
mlp1_dims = 150, 100
mlp2_dims = 100, 50
mlp3_dims = 150, 100, 100, 1
attention_dims = 100, 100, 1
with_global_state = true


[safety]
safety = false
slow = false
margin = 0.75
spread = 3