# Mac
.DS_Store
*/.DS_Store

# editors
.idea/
.vscode/

# Python
*.egg-info/
.pytest_cache/
__pycache__
.cache/
venv*/

# data
*.mp4
*.png
*.log
*.csv
*.pkl
data/
model/
models/
output/
videos/

# jupyter checkpoints
.ipynb_checkpoints
*.ipynb

