[trainer]
batch_size = 100
max_agents = -1


[imitation_learning]
il_episodes = 3000
il_policy = orca
il_epochs = 50
il_learning_rate = 0.01
safety_space = 0.15
human_randomness = 0.0


[train]
rl_learning_rate = 0.001
train_batches = 100
train_episodes = 12000
sample_episodes = 1
target_update_interval = 50
evaluation_interval = 1000
capacity = 100000
epsilon_start = 0.5
epsilon_end = 0.1
epsilon_decay = 4000
checkpoint_interval = 1000
randomness_start = 0.0
randomness_end = 0.5
randomness_step = 0.1
