[features]
time_size = 1
step_size = 3
labels = speed, accel
num_neighbors = 0
density_radii = 0

[network]
hidden_dims = 150, 100, 100, 100, 50
nonlinearity = relu

[optimizer]
optimizer = adam
learning_rate = 0.001
momentum = 0
betas = 0.9, 0.999
epsilon = 1e-8
weight_decay = 0

[training]
batch_size = 64
epochs = 300